@use '../../index.scss' as global;

.geoLocalizationWrapper {
    width: 100%;
    background: global.$red;
    text-align: center;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    p,
    a {
        display: inline-block;
        color: global.$white;
        font-size: 0.875rem;
        line-height: 1.6;
    }

    p {
        display: flex;
        align-items: center;
        gap: 0.375rem;

        span {
            display: block;
            max-width: 35vw;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    a {
        transition: color 0.2s;
    }

    a:hover {
        color: global.$gray-200;
    }

    p {
        margin-right: 0.625rem;

        span {
            text-decoration: underline;
        }
    }
}

.geoLocalizationWrapper.scrolled {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 4;
}

@media screen and (max-width: 575px) {
    .geoLocalizationWrapper {
        p {
            span {
                max-width: 35vw;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

}